.coreFeatureSection {
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;

    @media (min-width: 1024px) {
        background-size: 100% 100%;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

.companiesList{
    animation: 10s infinite linear moveImage;
}

@keyframes moveImage {
    0%{
        top: 0;
    }
    100%{
        top: -50%;
    }
}

.ctaSection{
    background-size: cover;

    @media (min-width: 1024px) {
        background-size: 100% 100%;
    }
}

.footerSection{
    background: linear-gradient(to right, #eef9fe, #edf7ff);
}

.elementSelect{
    display: none;

    @media (min-width: 1170px) {
        display: block;
    }
}

.fontawesomeIcon{
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1170px) {
        display: none;
    }
}